[Unit]
Description=GR configuration collection pool %i
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User={{ jumpserver_ha_gr_user | default('gr') }}
Group={{ jumpserver_ha_gr_group | default(jumpserver_ha_gr_user | default('gr')) }}
ExecStart=/usr/local/bin/gr collect config --pool %i
