[Unit]
Description=Scheduled GR configuration collection pool %i

[Timer]
OnCalendar={{ jumpserver_ha_collection_timer_calendar | default('*-*-* *:0/15:00') }}
RandomizedDelaySec={{ jumpserver_ha_collection_timer_jitter | default('2m') }}
Persistent=true
Unit=gr-config-collect@%i.service

[Install]
WantedBy=timers.target
